@import url("https://use.typekit.net/rfc0dmm.css");

* {
  font-family: proxima-nova, sans-serif;
}
.container {
  padding: 2rem 0;
}

html {
  font-size: 62.5%;
}

h1 {
  font-weight: 100;
  font-size: 6.4rem;
}
p {
  font-size: 2rem;
  line-height: 1.2;
}
